.welcome {
  background-color: var(--main-purple);
}

#rolling-alien {
  position: absolute;
    margin-left: 50%;

  animation: 3s ease-in-out 0s infinite alternate roll;
}

@keyframes roll {
  from {
    /* margin-left: 0%; */
    transform: scale(1) rotate(0deg);
  }
  to {
    /* margin-left: 110%; */
    transform: scale(1.8) rotate(720deg);

  }
}
