/* TODO Add site wide styles */
:root {
  --main-highlight: whitesmoke;
  --main-dark: #808080;
  --main-light: lightgrey;
  --main-purple: rgba(36, 22, 129, 0.678);
  --active-highlight: whitesmoke;
}

html {
  width: 100vw;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--main-highlight);
}

a {
  color: var(--main-purple);
  text-decoration: none;
}

a:active {
  color: var(--active-highlight);
}

input {
  border: 1px solid var(--main-highlight);
  border-radius: 0.2rem;
  width: 150%;
}

#theme {
  height: 100vh;
}
.no-theme-wrapper {
  background: lightgray;
  min-height: 90vh;
}

#div-404{
  background-color: lightgrey;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#div-404 h1{
  margin: 0;
}

#alien{
  height: 100px;
  width: 100px;
  background: url(./source-images/blueAlien.svg) center/100% no-repeat;
}
