form {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--main-highlight);
  border-radius: 0 0 2rem 0;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  padding: 5rem;
  height: 240px;
  background: linear-gradient(grey,grey, transparent);
}

form label {
  margin: 0.5rem;
  color: var(--main-highlight);
}

form div {
  display: flex;
  justify-content: center;
  width: 100%;
}

form a {
  font-size: small;
}
.auth-errors-div {
  display: block;
  color: var(--main-highlight);
  font-weight: 600;
}
