div#dashboard-main-div {
  width: 50vw;
  margin: 0 10% 10% 10%;
  background-color: var(--main-dark);
  padding: 5vh;
  border-top-left-radius: 2rem;
}

.dashboard-header-div {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw 0 13vw;
  width: 50%;
  font-size: x-large;
  height: 5em;
}

.dashboard-header-div button{
  width: 10rem;
  height: 10rem;
  background: url(../../source-images/gear-icon3.svg) center/30% no-repeat;
}

#topics-header .setting-button.topics,
#articles-header .setting-button.articles {
  width: 10rem;
  height: 10rem;
  background: url(../../source-images/edit-pencil.svg) center/30% no-repeat;
}
#topics-header .save-follow-edit,
#articles-header .save-article-edit {
  width: 5rem;
  height: 2.5rem;
  background: var(--main-purple);
  color: whitesmoke;
  padding: 0;
  margin: 0;
}

#topics-header,
#articles-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
  font-size: large;
  height: 4rem;
}

#topics-header img {
  height: 50%;
}

ul.dashboard-list {
  width: 50vw;
}
ul.dashboard-list li {
  margin: 5vw;
}

ul.dashboard-list li h3 {
  width: 100%;
  text-align: left;
  font-size: x-large;
}

ul.dashboard-list li a {
  /* width: 100%; */
  text-align: left;
  margin: 0 4vw;
}

ul.dashboard-list img {
  display: flex;
  align-self: center;
  width: 25%;
  object-fit: contain;
  background: linear-gradient(
    0.25turn,
    transparent,
    rgba(255, 255, 255, 0.473),
    transparent
  );
}

.setting-button.preferences {
  position: relative;
  display: flex;
  align-self: center;
  transform: scale(0.7);
}

.setting-button.topics,
.setting-button.articles {
  position: relative;
  display: flex;
  align-self: center;
  transform: scale(0.7);
}

.setting-button.topics:hover:after,
.setting-button.articles:hover:after,
.setting-button.preferences:hover:after {
  position: absolute;
  content: attr(title);
  font-size: 20px;
  display: inline-block;
  left: 70%;
  top: 70%;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  color: var(--main-purple);
  border-radius: 0.2rem;
}

.setting-button img {
  height: 20%;
}

.delete-follow-button {
  display: flex;
  align-self: center;
  transform: scale(.5);
  margin: 0;
  height: 60px;
  width: 60px;
  background: url('../../source-images/minus-circle-icon.svg');
}
.delete-article-button {
  display: flex;
  align-self: center;
  transform: scale(.5);
  margin: 0;
  height: 60px;
  width: 60px;
  background: url('../../source-images/minus-circle-icon.svg');
}

.heading-edit-buttons {
  display: flex;
  align-items: center;
}
