div#dashboard-main-div {
  width: 60vw;
  margin: 0 10% 10% 10%;
  background-color: var(--main-dark);
  padding: 5vh;
  border-top-left-radius: 2rem;
}

div#dashboard-main-div hr {
  margin: 10px 0;
}

.dashboard-header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 12.5vw;
  width: 100%;
  font-size: x-large;
  /* height: 5em; */
  color: var(--main-purple);
}

#main-preference-div {
  display: flex;
  flex-direction: column;
}
.preference-div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.preference-div h2 {
  padding: 0;
  margin: 0;

}

#preferences-header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;

}



.preference-div option {
  color: var(--main-purple);
  font-size: medium;
  border: none;
  border-radius: 0.3rem;
  padding: 10%;
}

#default-theme-search,
#default-category-search,
#country-search,
#language-search {
  width: 20vw;
  /* padding: 0 0 0 2%; */
  margin: 10px 20px;
  font-size: large;
}

.setting-button.preferences {
  display: flex;
  width: 10rem;
  height: 10rem;
  background: url(../../source-images/gear-icon3.svg) center/30% no-repeat;
}

#topics-header .setting-button.topics,
#articles-header .setting-button.articles {
  width: 10rem;
  height: 10rem;
  background: url(../../source-images/edit-pencil.svg) center/30% no-repeat;
}

.save-preference-edit,
.done-follow-edit,
.done-article-edit,
#articles-header .save-article-edit {
  width: 5rem;
  height: 2.5rem;
  background: var(--main-purple);
  color: whitesmoke;
  padding: 0;
  margin: 0 .5vw;
}

.user-topics li {
  width: 40%;
}
.user-topics li .search-follow-button,
.user-topics li .save-follow-edit {
  height: 2.5rem;
  background: var(--main-purple);
  color: whitesmoke;
  padding: 0 15px;
  margin: 0;
}

#topics-header,
#articles-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
  /* font-size: large; */
  height: 4rem;
}

#topics-header img {
  height: 50%;
}

ul.dashboard-list {
  width: 50vw;
}
ul.dashboard-list li {
  display: flex;
  align-items: center;
  margin: 5vw;
  max-height: 15vh;
}

ul.dashboard-list li h3 {
  display: flex;
  width: 100%;
  text-align: left;
  font-size: 24px;
  color: var(--main-purple);
  align-self: center;
}

ul.dashboard-list li a {
  text-align: left;
  margin: 0 4vw;
}

ul.dashboard-list img {
  display: flex;
  align-self: center;
  width: 25%;
  object-fit: contain;
  background: linear-gradient(
    0.25turn,
    transparent,
    rgba(255, 255, 255, 0.473),
    transparent
  );
}

.setting-button.preferences {
  position: relative;
  display: flex;
  align-self: center;
  transform: scale(0.7);
}

.setting-button.topics,
.setting-button.articles {
  position: relative;
  display: flex;
  align-self: center;
  transform: scale(0.7);
}

.setting-button.topics:hover:after,
.setting-button.articles:hover:after,
.setting-button.preferences:hover:after {
  position: absolute;
  content: attr(title);
  font-size: 20px;
  display: inline-block;
  left: 70%;
  top: 70%;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  color: var(--main-purple);
  border-radius: 0.2rem;
}

.setting-button img {
  height: 20%;
}

.delete-follow-button {
  display: flex;
  align-self: center;
  transform: scale(0.5);
  margin: 0 10px;
  height: 60px;
  width: 60px;
  background: url("../../source-images/minus-circle-icon.svg");
}
.delete-article-button {
  display: flex;
  align-self: center;
  transform: scale(0.5);
  margin: 0;
  height: 60px;
  width: 60px;
  background: url("../../source-images/minus-circle-icon.svg");
}

.heading-edit-buttons {
  display: flex;
  align-items: center;
}

.topic-edit-input {
  font-size: 23px;
  color: var(--main-purple);
  margin: 0 20px;
}

#dashboard-main-div > ul.user-topics.dashboard-list > li > h3 {
  display: flex;
  width: 100%;
  text-align: left;
  font-size: 34px;
  color: var(--main-purple);
  align-self: center;
  margin: 7px 0;
}

div > h2 {
  font-size: 36px;
  font-weight: 500;
  /* margin-top: 20px; */
}

span#splash-dash {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75.8vw;
  margin: 0 10% 0 0;
}

span#splash-dash h1#dashboard-heading {
  font-weight: 800;
  font-size: 20px;
  font-style: oblique;
  /* margin-left: 200px; */
  transform: scale(3);
  color: var(--main-purple);
  margin-right: 300px;
}
