div#dashboard-main-div {
  width: 100%;
  margin: 0 10%;
}

.dashboard-header-div {
  padding: 0 4vw;
  width: 100%;
  font-size: xx-large;
  height:5em;
}

ul#topic-list {
  width: 15vw;
}
ul#topic-list li h3{
  width: 15vw;
  text-align: left;
}
