#main-newsfeed-div {
  display: grid;
  grid-template-columns: 30vw 30vw;
  gap: 20vw;
  padding: 5vw;
}

#main-newsfeed-div img{
  width: 25%;
  height: 25%;
  object-fit: contain;
}
.upper-section{
  width: 40vw;
  background-color: var(--main-dark);
}
.lower-section{
  width: 50vw;
}
