#main-newsfeed-div {
  display: grid;
  grid-template-areas:
  "uppersection"
  "lowersection";
  gap: 20px;
  padding: 5vw;
}

#main-newsfeed-div img{
  width: 25%;
  height: 25%;
  object-fit: contain;
}
.upper-section{
  width: 50%;
}
.lower-section{
  width: 25%;
}
